.nav-mine{}
.nav-mine li{
    position: relative;
   
}
nav{
 z-index: 1;
}
.nav-mine .nav-link{
    padding: 0;
    background-color:rgba(0,0,0,0.5);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    
}
.nav-mine .active{
    padding: 0;
    background-color:rgba(255, 0, 0, 0.5);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    
   
}
.nav-mine li:nth-child(1):hover::before{
    content:"1111";
    position: absolute;
    right: 20px;
    background-color:rgba(0,0,0,0.3);
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    padding: 3px;
}
.nav-mine li:nth-child(2):hover::before{
    content:"1111";
    position: absolute;
    right: 20px;
    border-radius: 3px;
    background-color:rgba(0,0,0,0.3);
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    padding: 3px;
}
.nav-mine li:nth-child(3):hover::before{
    content:"1111";
    position: absolute;
    right: 20px;
    background-color:rgba(0,0,0,0.3);
    color: #fff;
    padding: 3px;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
}
.nav-mine li:nth-child(4):hover::before{
    content:"1111";
    position: absolute;
    right: 20px;
    background-color:rgba(0,0,0,0.3);
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    padding: 3px;
}
.nav-mine li:nth-child(5):hover::before{
    content:"888858";
    position: absolute;
    right: 20px;
    background-color:rgba(0,0,0,0.3);
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    padding: 3px;
}

.article{
    position: relative;
    height: 100vh;
    background-size: cover;
    /* 填好填滿 */
    background-position: center center;
}
.article1{background-image: url(../image/bg1.jpg);}
.article2{background-image: url(../image/bg2.jpg);}
.article3{background-image: url(../image/bg3.jpg);}
.article4{background-image: url(../image/bg4.jpg);}
.article5{background-image: url(../image/bg5.jpg);}
.article6{background-image: url(../image/bg6.jpg);}

.article-title{
    position: absolute;
    right: 60px;
    bottom: 60px;
    font-size: 100px;
    color: #fff;
    opacity:0;
    transition: all 0.5s;
    transition-delay:1s ;
}
.article-title-active{
    opacity:1;
}
footer{
    background-color: #363533;
    text-align: center;
    color: #fff;
    height: 50px;
    line-height: 50px;
  }